h1{
text-align: center;
font-family: "Bungee Spice", sans-serif;
}

.outbox{
    display: flex;
    width: 100vw;
    gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
    flex-direction: column;
    border-radius: 5%;
    padding: 20px; 
    font-family: "Oswald", sans-serif;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-self: center;
}

.card:hover{
    transform: scale(1.05);
    background-color:rgb(208, 223, 236);
}

button:hover{
transform: scale(1.05);
background-color: rgb(189, 223, 223);
}

@media screen and (max-width:479px) {
    .card{
        width: 80%;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .card{
        width:32%;
    }
}